*
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
.posts-Item
{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    /* display: flex; */
    align-items: center;
     padding: 20px;
     max-width: 630px;
    margin: 0 auto;
    margin-top: 30px;

}
.post-head{
    display: flex;
    justify-content: space-between;
}



.delete button{
    justify-content: end;
   /* position: relative;
   left:300px;
   justify-content: end; */
}
.profile-post {
    display: flex;
    justify-content: flex-start;
    /* margin-top: 0px; */
    /* position: relative; */
    /* right:150px */
}
.profile-post p
{
    margin-top: 1px;
    margin-left: 2px;
    /* margin-left: 20px; */
}
.profile-post span
{
    margin-top: 0px;
    /* margin-left: 2px; */
    /* margin-left: 20px; */
}
.image-post
{
    width: 350px;
    height: 350px;
    radius:100px;
}
.commands-user
{
    display:flex;
    justify-content: center;
}
.commands-profile
{
    margin-top: 2px;
    margin-left: 0px;
}
.commands-name
{
    margin-top: 14px;
    margin-left: 30px;
}